/*:host {*/
/*  display: flex;*/
/*  border: 3px solid black;*/
/*  justify-content: space-between;*/
/*  background: antiquewhite;*/
/*}*/

/*:host(.small) div {*/
/*  height: 100px;*/
/*  width: 100px;*/
/*}*/

/*:host-context(.dark-mode) {*/
/*  background: #47484b;*/
/*}*/

div {
  height: 200px;
  width: 200px;
  background: burlywood;
  border: 2px solid white;
  font-size: 26px;
  font-weight: bold;
}
